<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.xowl.satellites.eclipse.menu">
         <menu
               id="org.xowl.satellites.eclipse.menu.denotation"
               label="Meaning Capture">
         <command
               commandId="org.xowl.satellites.eclipse.denotation.CommandProduceMeaning"
               label="Produce Meaning"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.xowl.satellites.eclipse.denotation.properties.IsPhraseOrDenotation">
                  </test>
               </with>
            </visibleWhen>
         </command>
            <command
                  commandId="org.xowl.satellites.eclipse.denotation.CommandCaptureDiagram"
                  label="Capture Diagram Meaning"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.xowl.satellites.eclipse.denotation.properties.IsGmfNotationElement">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.xowl.satellites.eclipse.denotation.CommandShareMeaning"
                  label="Share"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.xowl.satellites.eclipse.denotation.properties.IsMeaning">
                     </test>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.xowl.satellites.eclipse.denotation.editors.PhraseEditor.Format"
                  label="Format Phrase"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <test
                           forcePluginActivation="true"
                           property="org.xowl.satellites.eclipse.denotation.properties.IsPhrase">
                     </test>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.xowl.satellites.eclipse.denotation.editors.PhraseEditor?after=additions">
         <menu
               icon="platform:/plugin/org.xowl.satellites.eclipse.preferences/resources/icons/xowl-16.png"
               id="org.xowl.satellites.eclipse.denotation.editors.PhraseEditor.menu"
               label="xOWL">
            <command
                  commandId="org.xowl.satellites.eclipse.denotation.editors.PhraseEditor.Format"
                  label="Format Phrase"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xowl.satellites.eclipse.denotation.DenotationPropertyTester"
            id="org.xowl.satellites.eclipse.denotation.PropertyTester"
            namespace="org.xowl.satellites.eclipse.denotation.properties"
            properties="IsPhrase,IsPhraseOrDenotation,IsMeaning,IsGmfNotationElement"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.xowl.satellites.eclipse.denotation.CommandCategory"
            defaultHandler="org.xowl.satellites.eclipse.denotation.CommandProduceMeaningHandler"
            id="org.xowl.satellites.eclipse.denotation.CommandProduceMeaning"
            name="Produce Meaning">
      </command>
      <command
            categoryId="org.xowl.satellites.eclipse.denotation.CommandCategory"
            defaultHandler="org.xowl.satellites.eclipse.denotation.CommandCaptureDiagramHandler"
            id="org.xowl.satellites.eclipse.denotation.CommandCaptureDiagram"
            name="Capture Diagram Denotation">
      </command>
      <command
            categoryId="org.xowl.satellites.eclipse.denotation.CommandCategory"
            defaultHandler="org.xowl.satellites.eclipse.denotation.CommandShareMeaningHandler"
            id="org.xowl.satellites.eclipse.denotation.CommandShareMeaning"
            name="Share Meaning">
      </command>
      <command
            categoryId="org.xowl.satellites.eclipse.denotation.CommandCategory"
            defaultHandler="org.xowl.satellites.eclipse.denotation.FormatPhraseHandler"
            id="org.xowl.satellites.eclipse.denotation.editors.PhraseEditor.Format"
            name="Format Phrase">
      </command>
      <category
            id="org.xowl.satellites.eclipse.denotation.CommandCategory"
            name="Denotation Command">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.xowl.satellites.eclipse.denotation.editors.DenotationEditor"
            contributorClass="org.xowl.satellites.eclipse.denotation.editors.DenotationEditorContributor"
            default="true"
            extensions="denotation,phrase,representation"
            icon="platform:/plugin/org.xowl.satellites.eclipse.preferences/resources/icons/xowl-16.png"
            id="org.xowl.satellites.eclipse.denotation.editors.DenotationEditor"
            name="Denotation Editor">
      </editor>
   </extension>
</plugin>
