<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xowl.satellites.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xowl.satellites.eclipse.preferences.PreferencePage"
            id="org.xowl.satellites.eclipse.XOWLPreferences"
            name="xOWL">
      </page>
   </extension>
</plugin>
