<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xowl.satellites.eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xowl.satellites.eclipse.preferences.PreferencePage"
            id="org.xowl.satellites.eclipse.XOWLPreferences"
            name="xOWL">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="resources/icons/xowl-16.png"
               id="org.xowl.satellites.eclipse.menu"
               label="xOWL">
         </menu>
      </menuContribution>
   </extension>
</plugin>
